

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Employee Attrition Predictor</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	</head>

    <body background="{{ url_for('static', filename='bg.jpg') }}">

        <!-- Website Title -->
		<div class="container">
            <h2 class='container-heading'><span class="heading_font">Employee Attrition Prediction</span></h2><br>
            <div class='description'>
    			<p>Here is the result...</p>
    		</div>
    	</div>

		<!-- Result -->
		<div class="results">
			{% if prediction_text==0 %}
				<h1><span class='safe'>Hurrayyyyy! It is predicted that the employee will continue to work with the company.</span></h1>
				<img class="gif" src="{{ url_for('static', filename='cool.gif') }}" alt="no-employee Image">
			{% elif prediction_text==1 %}
				<h1><span class='danger'>Oops! It is predicted that the employee will leave the company !!!</span></h1>
				<img class="gif1" src="{{ url_for('static', filename='left.gif') }}" alt="employee Image">
			{% endif %}
		</div>



	</body>
</html>